body {
  background-color: rgba(255,0,0,0.5);
  background-image: -webkit-radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
 background-image: -moz-radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
 background-image: radial-gradient(ellipse farthest-corner at 505px 405px , #EF5 0%, rgba(255, 255, 0, 0) 70%, #F00 95%);
  font-family: 'Oswald', sans-serif;
  font-size:1.2em;margin:0.5% 1% 0.5% 1%; width:90%; height:90%; border: 2px dashed #456700;

}
section{
     border: 1em #456 solid;margin:2% 2% 2% 2%;
}
.bigWord{
    font-size:1.2em;color:#FFF; background-color:rgba(4,5,6,0.5);
    border: 0.1em #FFF solid;
}
.bigWord:hover{
    background-color:rgba(4,5,6,0.9);
    cursor:pointer;
    
}
.defn{
    font-size:0.51em;
    display:none;
}
.myReply{
    display:block;
    margin:0.1% 15% 0.1% 5%;
    font-size:0.91em;
    border:0.2em #123456 double;
}
code{
    width:90%; display:block; color:white; background-color: black; margin:0.3em;
}