body {
}
section{
     padding:0.1em; border: 1em #456 solid;
}
.bigWord{
    font-size:1.2em;margin:0.1% 5% 0.1% 2%;  color:#FFF; background-color:rgba(0,0,255,0.5);z-index:2;
}
.bigWord:hover{
    background-color:rgba(0,0,255,0.9);
    cursor:pointer;
    
}
.defn{
    font-size:0.51em;
    display:none;
}
.myReply{
    display:block;
    margin:0.1% 15% 0.1% 5%;
    font-size:0.91em;
    border:0.2em #123456 double;
}
code{
    width:90%; display:block; color:white; background-color: black; margin:0.3em;
}
